.card-body{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  width: 466px;
  align-items: center;
  height: 466px;
  padding: 32px 56px 24px 56px;
  border-radius: 4px 4px 0px 0px;
  color: rgb(74, 74, 74);
  margin-top: -1px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(153 153 153 / 20%) 0px 2px 4px 0px;
  box-sizing: border-box;
  font-family: "Nunito Sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

  font-size: 16px;
  font-weight: bold;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100% !important;
  min-height: 48px !important;
}
.form-control{
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 4px !important;
  min-height: 48px !important;
  padding-top: 11px !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
  color: rgb(74, 74, 74) !important;
  font-size: 16px !important;
  box-sizing: border-box !important;
}
.card{
  display: flex;
  justify-content: center;
}

.card-title{
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

#button{
  height: 48px;
  min-width: 120px;
  border-width: 0px;
  border-radius: 32px;
  background-color: aqua;
  font-size: 16px !important;
  box-sizing: border-box !important;
  font: inherit;
}
